# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# gradle ignore
.gradle/
gradle/
out/

# eclipse ignore
.settings/
.project
.classpath
build/
.metadata/
.recommenders/
RemoteSystemsTempFiles/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

